<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD App</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="/tasks">Your tasks</a>
            </li>
            <li>
                <a href="/tasks/createtask">Create a task</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="/signup">Register</a>
            </li>
            <li>
                <a href="/signin">Log In</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <h1>Django CRUD App</h1>
    {% block content %}
    {% endblock %}

</body>
