{% extends 'base.html' %}

{% block content %}

<main class="container mt-5">
    <div class="row">
        <div class="col-md-5 offset-md-4">
                <form action="/tasks/createtask/" method="POST" class="card card-body">
                <h1 class="display-4 text-center">Task Creation</h1>
                {{error}}
                {% csrf_token %}
                {{form}}
                <button class="btn btn-success">Add Task</button>
                </form>
        </div>
    </div>
</main>


{% endblock %}