
    {% extends 'base.html' %}
    {% block content %}


<main class="container py-5">
<div class="card text-center">
<div class="card-header display-2">
  <h1 class="display-5"">Welcome to your multi-arms task organizer</h1>  
</div>
  <div class="card-body">
    <h5 class="card-title ">Log in or Register to continue</h5>
    <p class="card-text">Register your account using just a username and a password.</p>
    <a href="/signin" class="btn btn-primary">Log In</a>
    <a href="/signup" class="btn btn-primary">Register</a>

  </div>
</div>
</main>
    {% endblock %}