
    {% extends 'base.html' %}
    {% block content %}
                <h1 class="display-4 text-center mt-3 mb-3">Read Your Task</h1>

<main class="card mx-auto" style="width:50%;">
    <div class="card-body">
                <div class="card-header">
                <h2>Task details:</h2>

                {{error}}    
                    <form  method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="d-flex justify-content-between">

                    <button class="btn btn-warning">Update</button>
                    </form>

                    <form action="{% url 'task_completed' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-primary">Completed</button>
                    </form>

                    <form action="{% url 'delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
        </div>
    </div>
</main>
    {% endblock %}